.CamperReviews {
  display: flex;
  flex-direction: column;
  gap: 44px;
}

.CamperReviews__item {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.CamperReviews__header {
  display: flex;
  align-items: center;
  gap: 16px;
}

.CamperReviews__rating {
  display: flex;
  margin-top: 4px;
  gap: 4px;
}

.CamperReviews__star {
  width: 16px;
  height: 16px;
  color: var(--badges);
}

.CamperReviews__star--filled {
  color: var(--rating);
}

.CamperReviews__content {
  color: var(--text);
}