.FavouriteButton {
  width: 24px;
  height: 24px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.FavouriteButton svg {
  width: 24px;
  height: 24px;
  color: var(--main);
}

.FavouriteButton:hover svg,
.FavouriteButton.active svg {
  color: var(--button);
}