* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body.no-scroll {
  overflow: hidden;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

:root {
  --font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-family: var(--font-family);
  line-height: 24px;
  font-size: 16px;
  font-weight: 500;

  --main: #101828;
  --text: #475467;
  --gray: #6C717B;
  --button: #E44848;
  --button-hover: #D84343;
  --rating: #FFC531;
  --gray-light: #DADDE1;
  --badges: #F2F4F7;
  --inputs: #F7F7F7;
  --white: #FFFFFF;

  --body: {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  };

  --body2: {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
  };
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-background-clip: text !important;
    box-shadow: none !important;
    background-color: transparent !important;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}